---
import Navigation from '../components/navigation.astro';
import Hamburger from '../components/hamburguer.astro'
import ThemeIcon from './themeIcon.astro';
---
<header>
  <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </nav>
</header>